<div class="social_links">
	<ul>
		<li class="tweet_me"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="samspiral">Tweet</a></li>
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		
		<li class="fb_like"><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" layout="button_count" show_faces="true" width="90" font="lucida grande"></fb:like></li>
		
</ul>
</div>