/* @override http://localhost:3000/stylesheets/custom.css?1302955196 */

/* @override http://localhost:3000/stylesheets/custom.css?1302954310 */

/* @override http://localhost:3000/stylesheets/custom.css?1302954189 */

/* @override http://localhost:3000/stylesheets/custom.css?1302953847 */

/* @override http://localhost:3000/stylesheets/custom.css?1302922909 */

/* @override http://localhost:3000/stylesheets/custom.css?1302922909 */

/* @override http://localhost:3000/stylesheets/custom.css?1302922760 */

/* @override http://localhost:3000/stylesheets/custom.css?1302917243 */

/* @override http://localhost:3000/stylesheets/custom.css?1302914292 */

/* @override http://localhost:3000/stylesheets/custom.css?1302910140 */

/* @override http://localhost:3000/stylesheets/custom.css?1302908296 */

html {
	background: #111 url("../images/flower_background.jpg") repeat;
	
}
.container {
  width: 850px;
}


body {
	background: url("../images/header_flower_background.jpg") repeat-x;
}

header {
	
	height: 60px;
	padding-left: 10px;
	margin-bottom: 20px;
	padding-top: 30px;
}

Header a, Header a:hover, Header a:visited {
	background-color: transparent;
	padding: 0;margin: 0;
}
header img {
  padding: 0;
background-color: transparent;  
text-decoration: none;

}

section {
  font-size: 120%;
  margin-top: 60px;
  position: relative;
	padding-right: 40px;
	padding-left: 40px;
}

p, h3, h4 {
	color: #eee;
}
input#mce-EMAIL.required.email{
	width: 316px}

input#blog_title, textarea#blog_content, input#gig_name, textarea#gig_address, input#gig_lat, input#gig_lng, input#mce-EMAIL.required.email {
	background-color: #222;
	border: 3px solid #444;
	color: #eee;
	padding: 5px;
	-moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
	
}
input#blog_title:focus, textarea#blog_content:focus, input#gig_name:focus, textarea#gig_address:focus, input#gig_lat:focus, input#gig_lng:focus, input#mce-EMAIL.required.email:focus {
	border: 3px solid #777;
}
input#blog_title:hover, textarea#blog_content:hover, input#gig_name:hover, textarea#gig_address:hover, input#gig_lat:hover, input#gig_lng:hover, input#mce-EMAIL.required.email:hover {
	border: 3px solid #777;
}



input#blog_submit, input#gig_submit, input#mc-embedded-subscribe.btn {
	background-color: #222;
	border: 3px solid #444;
	color: #eee;
	padding: 5px;
	-moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

label {
	color: #eee;
}
input#blog_submit:hover, input#gig_submit:hover, input#mc-embedded-subscribe.btn:hover {
	background-color: #111;
	border: 3px solid #666;
	color: #0358b6;
}
input#blog_submit:visited, input#gig_submit:visited, input#mc-embedded-subscribe.btn:visited {
	background-color: #222;
	border: 3px solid #444;
	color: #eee;
}




section h1 {
  font-size: 200%;
	color: #eee;
}


/* News feed */

.admin_options {
	position:absolute;
	right: 0px;
	top: 0px;
	display: inline-block;
	text-align: right;
	padding-right: 5px;
}

div.admin_options_gig {
	position:absolute;
	right: 8px;
	top: 8px;
	
}

p#notice {
	width: 750px;
	height:1.5em;
	padding: 5px 5px 0;
	
}

div#mailchimp_signup {
	position: absolute;
	left: 0;
	top: 520px;
}

#mc-embedded-subscribe-form fieldset {
	border-style: none;
	width: 332px;
	margin: 0;padding: 0;
}

#mc-embedded-subscribe-form fieldset legend {
	margin: 0;padding: 0;
}

div.mailinglist_admin_options {
	position:absolute;
	right: 0px;
	top: 3px;
	
}

#mc-embedded-subscribe-form fieldset legend span {
	
	color: #0358b6;
	background-color: #111;
	padding-right: 2px;
	padding-left: 2px;
	font-size: 1.5em;
	font-weight: normal;
	font-style: normal;
}

#mc-embedded-subscribe-form fieldset div.indicate-required {
	color: #eee;
}



ul.news_feed {
	width: 500px;
	position: absolute;
	
	list-style-type: none;
	padding:0;margin:0;
	right: 0;
}
ul.news_feed_post {
	display: inline-block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: right;
}

ul.news_feed_post h1 {
}

/* Gigs feed */

ul.gigs_feed {
	list-style-type: none;
	position:relative;  
	margin: 0;
	padding: 0;
}
ul.gigs_feed_gig {
	list-style-type: none;
	position:relative; 
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

ul.gigs_feed_gig h2{
	margin:0;
	padding:0;
	line-height:1.2;
}
ul.gigs_feed_gig h4{
	margin:0;
	padding:0;
}
.list-line-odd {
	
}


.list-line-even {
	background: #222;
	
	
}

div#map_canvas {
}

.map_container {
	background-color: #111;
	width: 750px;
	padding: 10px;
}

/* Links */

a {
  color: #0358b6;
  text-decoration: none;
	background-color: #111;
	padding-left: 2px;
	padding-right: 2px;
}

a:hover {
  color: #0063ca;
  background: #000 none;
  text-decoration: underline;
}

a:visited {
  color: #0063ca;
	background-color: #000;
}

span.h1_span {
	display:inline-block;
	font-size:50%;
	vertical-align:middle;
	
	
}
#div_block {
	display:block;
}

/* Navigation */



nav {
	width: 850px;
  background-color: #111;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 0 1em;
  line-height: 2.5em;
  height: 2.5em;
  width: 6em;
  font-weight: bold;
  color: white;
	text-align: center;
	font-size: 1.2em;
}

nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
	background-color: #0063ca ;
  text-decoration: none;
  color: white;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}
	
/* social links */
.social_links {
	height: 33px;
	padding-left: 10px;
}
.social_links ul {
	padding: 0;
	margin: 0;
}
.social_links ul li{
	list-style-type: none;
	display: inline-block;
}
.fb_like {
	padding-top: 5px;
}
.tweet_me {
	float: left;
	
	padding-top: 5px;
}

/* gigs */
#gig_listing {
	padding-left: 10px;
}

div#home_art {
	position: absolute;
	left: 0;
	top: 4px;
}

nav.pagination {
	width: auto;
	padding-left: 10px;
	color: #eee;
}

span.page.current,  {
	color: #eee;
}

div#mce-success-response.response {
	color: #eee;
	padding: 3px;
}