<footer>
	<div id="footer_section">
		<div id="legal">
			<p>Copyright &copy; <%= timenow.strftime("%Y") %> Sam Bragg. All Rights Reserved</p>
		</div>
		<div id="siteby">
			<p>site by <%= mail_to "mike.a.bragg@gmail.com", 'mbragg' %></p>
		</div>
</div>
</footer>